data/survey1/
wav2vec2-base-960/

dataSet/
data/

wav2vec2/
EfficientNet/


EfficientNetCode/EfficientNet_model.pth
dataSet_original/
dataSet_wav_1epoch/
dataSet_wav_2epoch/
testSet_wav_1epoch/
testSet_wav_2epoch/
disease/
